{% set storage  = (storage  | string | lower) in ['true','1','yes','y','on'] %}
---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: {{ namespace }}

components:
  - ../../components/alerts
{{ "  - ../../components/kopiur/secret" if storage else "" }}

resources:
  - ./namespace.yaml
